html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
  }



@font-face {
    font-family: Coloborat-Light;
    src: url(../font/Colaborate/ColabLig.otf);
}

@font-face {
    font-family: Coloborat-Think;
    src: url(../font/Colaborate/ColabThi.otf);
}
@font-face {
    font-family: Coloborat-Regular;
    src: url(../font/Colaborate/ColabReg.otf);
}

@font-face {
    font-family: Contra;
    src: url(../font/Contra/contra.ttf);
}
@font-face {
    font-family: Contra-Italic;
    src: url(../font/Contra/contra-italic.ttf);
}
@font-face {
    font-family: Chunk;
    src: url(../font/ChunkFive/Chunk.otf);
}
@font-face {
    font-family: Alexandria-Regular;
    src: url(../font/casady-and-greene_alexandriaflf/AlexandriaFLF.ttf);
}
@font-face {
    font-family: Alexandria-Bold;
    src: url(../font/casady-and-greene_alexandriaflf/AlexandriaFLF-Bold.ttf);
}


#wrapper  {
    height: 1850px;
    background: #fff;
}
 

.one-section{
      background: url(../img/bg_blue.jpg) no-repeat;
      background-size: cover;
      height:800px;
      overflow: hidden;

}

.container {
  width:998px;
  margin: 0px auto;
 
}

.logo {
  margin-top: 35px;
  
}

.main-menu ul{
  width: 515px;
  display: flex;
  justify-content: space-between;
  margin-right: 86px;
}

a {
  text-decoration: none;
}

.main-menu ul li {
  list-style: none;
}

.main-menu  a {
  display: inline-block;
  font: 17px Coloborat-Light;
  color:  #d8d8e3;
  padding: 5px 10px;
  
  border-radius: 5px;

}


.main-menu a:hover {
  background: #d2d2d5;
  color: #161628;
  transition: background 0.5s, color 1s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}   


.content h1 {
    font: 45px Chunk;
    color: #e7e8ea;
    font-weight: 500;
}

.content h2 {
    font: 30px Alexandria-Regular;
    color: #e7e8ea;
}

.content h2 span {
    font: 30px Alexandria-Bold;
    color: #e7e8ea;
}

.content-text h2,
.content-text h3 {
    margin-top: 0px;
}

.content h3 {
    font: 16px Coloborat-Think;
    color: #e7e8ea;
    margin-top: 7px;
    float: right;
    text-align: right;
    line-height: 23px;
}

.content a {
    width: 179px;
    height: 43px;
    font: 23px Coloborat-Regular;
    font-weight: 400;
    color: #fff;
    display: block;
    text-align: center;
    box-sizing: border-box;
    padding-top: 9px;
    background: linear-gradient( #2c69bf, #194588);
    border-radius: 5px;
    border: 1px solid #6e9ad8;
    position: relative;
    margin-top: 30px;
}

.content a:hover {
	color: #c4c4c4;
	box-shadow:  0 0 10px 1px rgba(0, 0, 0, 0.3);
	transition: box-shadow 1s, color 1s;
	
}

.content-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 230px;
    margin-right: 50px;
}

.content a:after {
    content: '';
    display: block;
    width: 170px;
    height: 10px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2),
                0 0 15px 1px rgba(0, 0, 0, 0.2) ;
    position: absolute;
    top: 90px;
}




.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 270px;
}


.content-text,
.ipad-img {
    margin-top: 77px;
}

.slider-content {
    width: 1020px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.box {
	border-radius: 5px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
    width: 240px;
    height: 160px;
    background: url(../img/ipad-slider.png) 100% 25% no-repeat,
                url(../img/e.png) 10% 15% no-repeat,
                linear-gradient(#fafafa, #e6e6e6);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    
}

.box span {
	margin-bottom: 8px;
	font: 19px Calibri; 
	color: #434353;
}

.slider-content .box-two {
	background: url(../img/slider-ipad-two.png) 50% 30% no-repeat,
                linear-gradient(#fafafa, #e6e6e6);
}


.slider-content .box-three {
	background: url(../img/media.png) 50% 30% no-repeat,
                linear-gradient(#fafafa, #e6e6e6);
}


.slider-content .box-fourth {
	background: url(../img/brick.png) 50% 30% no-repeat,
                linear-gradient(#fafafa, #e6e6e6);
    position: relative;
}

.slider-content .box-fourth:before {
	content:'';
	display: block;
	border-top: 30px solid #63275c;
	border-right: 30px solid #63275c;
	border-bottom: 30px solid transparent;
	border-left: 30px solid transparent;
	position: absolute;
	top: 0px;
	right: 0px;
}

.slider-content .box-fourth:after {
	content: 'NEW';
	position: absolute;
	display: block;
	transform: rotate(45deg);
	top: 10px;
	right: 2px;
	font: 17px Calibri;
	color: #fff;
}


.box:hover {
	box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.2), 
				inset 0 0 1px 1px rgba(0, 0, 0, 0.2);
	transition: box-shadow 1s;
}


.two-section-head {
	display: flex;
	justify-content: space-between;
}

.one-box {
	width: 290px;

	
}


.one-box h4 {
	font: 25px Coloborat-Light;
	color: #505050;
	line-height: 17px;
	padding-left: 40px;
	position: relative;
}

.one-box h4:before {
	content: '';
	display: block;
	background: url(../img/discover-icon.png) no-repeat;
	width: 100px;
	height: 100px;
	position: absolute;
	left: 0px;
	top: -5px;
}

.one-box h4 span {
	font: 15px Coloborat-Light;
	color: #5f7390;
	display: inline-block;

}

.one-box p {
	font: 14px Coloborat-Light;
	color: #505050;
	line-height: 16px;
	margin-top: 14px;
	font-weight: 400;
}

.one-box .browse:before {
	background: url(../img/web.png) no-repeat;
}


.one-box .settings:before {
	background: url(../img/settings.png) no-repeat;
}


.two-section-middle p {
	color: #687b96;
	font: 16px Contra;
	width: 680px;
	height: 80px;
	padding-top: 18px;
	box-sizing: border-box;
	text-align: center;
	margin: 50px auto 0 auto;
	background: linear-gradient(left #ebebed, #ecedef);
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	position: relative;
}


.two-section-middle p:before {
	display: block;
	content: '';
	background: url(../img/left-arrow.png) no-repeat;
	position: absolute;
	height: 70px;
	width: 70px;
	left: -100px;
	top: 20px;

}

.two-section-middle p:after {
	display: block;
	content: '';
	background: url(../img/right-arrow.png) no-repeat;
	position: absolute;
	height: 70px;
	width: 70px;
	right: -130px;
	top: 20px;
}



.three-section {
	margin-top: 70px;	

}

.three-section h2{
	text-align: center;
	color: #505050;
	font: 27px Coloborat-Regular;
	line-height: 15px;
} 


.three-section span {
	display: inline-block;
	margin-right: 238px;
	color: #5f7390;
	font-size: 15px;
}


.three-section-content {
	width: 890px;
	display: flex;
}


.right li {
	list-style-type: none;


}

.right {
	align-self: center;
	margin-left: 40px;
	margin-top: 40px;
}

.right li:before {
	content:'';
	display: inline-block;
	width: 0px;
	height: 0px;
	border-top: 5px solid transparent;
	border-left: 10px solid #828181;
	border-bottom: 5px solid transparent;
	border-right: 5px solid transparent;
	padding-right: 8px;
	

}

.right li{
	margin-top: 5px;
}

.right li a {
	font: 15px  Coloborat-Regular;
	color: #828181;
}


.right .read-more {
	display: inline-block;
	width: 130px;
	height: 40px;
	background: linear-gradient(#2d6ac1,#1a478c);
	box-sizing: border-box;
	border-radius: 5px;
	text-align: center;
	padding-top: 9px;
	font: 19px Coloborat-Regular;
	color: #fff;
	margin-top: 30px;
	margin-left: 25px;
}


.read-download {
	margin-left: ;
}


.right .read-more:hover {
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3),
				inset 0 0 10px 1px rgba(0, 0, 0, 0.3);
	color: #e7e8ea;
	transition: box-shadow 1s, color 1s;
}


.three-section-content {
	margin-left: 20px;
	margin-top: 10px;
}

.bottom-section {
	margin-top: 40px;

}


.bottom-section ul li {
	list-style-type: none;
	font: 15px Coloborat-Regular;
	color: #828181;
	padding: 10px 0 10px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);


}


.bottom-section ul li:last-child {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.bottom-section ul li:before {
	content: '+';
	box-sizing: border-box;
	padding-left: 6px;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 10px;
	color: #828181;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 50%;


}


footer {
	background: radial-gradient(at top, #5c5c74, #353547);
	min-height: 350px;
	margin-top: 30px;
}

.head-section {
	margin-top: 15px;
	width: 950px;
	height: 90px;
	margin: 0px auto;
	display: flex;
	justify-content: space-between
	
}


blockquote {
	margin-top: 45px;
	width: 830px;
	font: 13px Contra;
	color: #fff;
	margin-left: 50px;
	

}

blockquote span {
	display: block;
	text-align: right;
	font: 15px Contra-Italic;
	color: #fff;
}

.all-footer {
	width: 950px;
	margin: 0px auto;
	margin-top: 25px;
}

.left-footer {
	width: 330px;
	margin-left: 10px;
}

.left-footer h3 {
	font: 25px Coloborat-Light;
	color: #fff;
}


.left-footer p {
	font: 14px Coloborat-Light;
	color: #fff;
	font-weight: 300;
	margin-top: 10px;
}


.button {
	margin-top: 25px;
}
.button input {
	background: #242439;
	width: 210px;
	height: 25px;
	border:none;
	border-radius: 5px;
	padding-left: 15px;
	box-sizing: border-box;
	outline: none;
	color: #e7e8ea;
	font: 14px Coloborat-Regular;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.7)
}

.button button {
	width: 87px;
	height: 30px;
	color: #363648;
	font: 14px Coloborat-Light;
	border-radius: 5px;
	outline: none;
	background: #e7e8ea;
	border: none;
	margin-left: 15px;
}

.button input:hover,
.button button:hover {
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
	transition: box-shadow 1s;
}


.button button:active {
	box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, 0.3);
}

.social {
	display: flex;
	width: 148px;
	justify-content: space-between;
	margin-top: 20px;
}

.social a {
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.1);
	color: #6d6d84;
	border-radius: 50%;
}


.social a:hover {
	box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.2);
	color: #fff;
	transition: box-shadow 1s, color 1s;
}

.right-footer h3 {
	font: 25px Coloborat-Light;
	color: #fff;
}

.right-footer {
	width: 410px;
	height: 70px;
}


.all-footer {
	display: flex;
	justify-content: space-between;
}

.left-form input {
	width: 210px;
	height: 27px;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
	margin-top: 15px;
	background: #242439;
	outline: none;
	padding-left: 15px
	
}

.form {
	display: flex;
	justify-content: space-between;
	width: 410px;
}

textarea {
	box-sizing: border-box;
	padding-left: 15px
	padding-top: 15px;
	width: 190px;
	height: 115px;
	background: #242439;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
	outline: none;
}


.rigt-form {
	margin-left: 20px;
	margin-top: 15px;

}

.right-footer button{
	float: right;
	width: 87px;
	height: 30px;
	color: #363648;
	font: 14px Coloborat-Light;
	border-radius: 5px;
	outline: none;
	background: #e7e8ea;
	border: none;
	margin-left: 15px;
	position: relative;
	left: 17px;
	top: 10px;
}


.right-footer button:hover {
	box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.2);
	
	transition: box-shadow 1s;
}


footer .container h4 {
	font: 14px Coloborat-Light;
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
	margin-top: 10px;
	margin-right: 30px;
}